body {
  position: relative;
  padding: 10px;
  background-color: #fafafa;
  height: 100%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#app {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Start main components container */
.container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  height: 80%;
  padding: 20px;
  background: linear-gradient(217deg, #fff 30%, #ddeaf0 90%);
  box-shadow: 0 0 6px #d9d9d9;
}
/* End main components container */


/* Start Header */
.header {
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
}

.header .search {
  display: flex;
  flex: 0 0 55%;
  max-width: 55%;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.header .search label {
  display: block;
  flex: 1;
}

.header .search label input {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  padding: 10px;
}

.header .search button {
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.header .filter {
  flex: 0 0 45%;
}

.header .filter select {
  display: block;
  border: none;
  outline: none;
  margin-left: 20px;
  width: calc(100% - 35px);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 35px;
}
/* End Header */


/* Start weather-body */
.weather-body {
  display: block;
  position: relative;
  padding-top: 60px;
}

.weather-body .date {
  text-align: center;
}

.weather-body .date .month-year {
  font-weight: normal;
  font-size: 13px;
}
.weather-body .date .month-year,
.weather-body .date .day,
.temperature .current-temperature h3 {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.weather-body .date .day {
  font-size: 30px;
}

.temperature {
  display: flex;
  margin-top: 35px;
}

.temperature .current-temperature {
  max-width: 70%;
  text-align: right;
}

.temperature .current-temperature h3 {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  font-size: 90px;
  line-height: 1;
}

.temperature .current-temperature h3 sup {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}

.temperature .min-max-temperature {
  flex: 0 0 35%;
}

.temperature .city {
  display: block;
  flex: 1;
}

.temperature .city span{
  display: block;
  padding-left: 30px;
  max-width: 100%;
}

.temperature .city h3 {
  margin: 0;
  padding: 0;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 120px;
}

.temperature .min-max-temperature span {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  flex: 1;
}
.temperature .min-max-temperature span:first-child {
  margin-bottom: 18px;
  margin-top: 20px;
}

.weather-body .sun-moon {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 80px;
  height: auto;
}

.weather-body .weather-infos {
  margin-top: 50px;
}

.weather-body .weather-infos .infos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.weather-body .weather-infos .infos-list li {
  display: flex;
  padding: 5px 0;
  margin-bottom: 15px;
  list-style-type: none;
  border-top: 1px solid #eeeeee;
}

.weather-body .weather-infos .infos-list li span {
  display: flex;
  align-items: end;
  font-size: 13px;
}

.weather-body .weather-infos .infos-list li span .icon {
  margin-right: 10px;
}

.weather-body .weather-infos .infos-list li .title {
  margin: 0;
  padding: 0;
  flex: 0 0 60%;
}

.weather-body .weather-infos .infos-list li .value {
  margin: 0;
  padding: 0;
  flex: 0 0 40%;
}
/* End weather-body */


/* Start Error box */
.error-box {
  display: block;
  width: 400px;
  margin: auto;
  padding: 5px 10px;
  background-color: #f03e3e;
  border-radius: 5px;
  color: #eee;
  font-size: 14px;
}
/* End main Error box */
